<div class="btn-group col-lg-12 col-md-12 col-sm-12 col-xs-12" role="group" id="task-range-menu" aria-label="...">
  <button (click)="switchTodayTaskService()" type="button" class="btn btn-default col-lg-4 col-md-4 col-sm-4 col-xs-4 active">Today</button>
  <button (click)="switchWeekTaskService()" type="button" class="btn btn-default col-lg-4 col-md-4 col-sm-4 col-xs-4">Week</button>
  <button (click)="switchMonthTaskService()" type="button"class="btn btn-default col-lg-4 col-md-4 col-sm-4 col-xs-4">Month</button>
</div>