<!--<button id="new-task" type="button" (click)="modal.show()">test</button>-->
<app-modal>
<div class="app-modal-header">
  <h2>New Task</h2>
</div>
<div class="app-modal-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="taskname">Name</label>
            <input
                    type="text"
                    id="taskname"
                    class="form-control"
                    ngModel
                    name="taskname"
                    required>
            <label for="taskminutes">Minutes</label>
            <input
                    type="text"
                    id="taskminutes"
                    class="form-control"
                    ngModel
                    name="taskminutes"
                    required>
        </div>
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<div class="app-modal-footer">
</div>
</app-modal>