.btn-primary {
    background-color: #EF4652;
    border-color: #EF4652;
    outline:0;
}
.btn-primary:focus {
    background-color: #EF4652;
    outline:0;
}

.btn-primary:hover {
    background-color: #EF4652;
}